footer .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    font-family: 'Montserrat', sans-serif;
}
footer{
    
    background-color: #112d4e;
    
    
}
.footer-p{
    color: white;
    font-size: 20px;
    line-height: 1.4em;
}
.tgv p {
    font-size: 15px;
    color: #ffffff;
    padding-top: 5%;
    width: 90%;
    margin-top: 2%;
}

.footer-tgv img {
    width: 30%;
    height: 30%;
    
    margin
}

.child2 {
    grid-column: 2;
    color: white;
    line-height: 2em;
    margin-left: 9%;
}

.footer-child2 .contact {
    color: #f9f7f7;
    padding-bottom: 5%;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 20px;
}
.footer-child2 span {
    font-weight: bolder;
}
.child3 {
    grid-column: 3;
    margin-left: 20%;
    justify-content: center;
    text-align: center;
    
    bottom: 2%;
}

.footer-child3 .follow {
   font-size: 20px;
   font-weight: bolder;
    color: #ffffff;
    margin-right: 20%;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10%;
    padding-left: 17%;
}

.child3 .socail-media {
    color: #ffffff;
    font-size: 50px;
    margin-top: 4%;
}

.right {
    grid-column: 1/3;
    padding-top: 5%;
    padding-bottom: 5%;
    color: #ffffff;
    font-size: 15px;
    margin: 0;
    text-align: center;
}

.logo {
    color: white;
    font-size: 30px;
    margin-top: 10%;
}

.footer-tgv{
    align-content: center;
    text-align: center;
}

.oma {
    box-sizing: border-box;
    color: white;
    border: 2px solid #ffffff;
    width: 270px;
    height: 230PX;
    justify-content: center;
}

.footer-child3 #mail {
    box-sizing: border-box;
    text-align: center;
    border: 2px solid #ffffff;
    width: 90%;
    height: 25%;
    margin-top: 10%;
    padding-top: 5%;
    margin-left: 5%;
}

.footer-child3 button {
    border: 2px solid #3f72af;
    background-color: #3f72af;
    margin-top: 3%;
     margin-left: 5%;
     margin-bottom: 5%;
    color: white;
    width: 90%;
    height: 25%;
    
}
.footer-child2 .infos{
    font-size: 20px;
    line-height: 1.3em;
}

#join {
    padding-top: 5%;
    text-align: center;

}
.tsv{
    color: #ffffff;
    line-height: 2em;
}
.contact{
    color: #ffffff;
    margin-left: 10%;
    
}
.infos{
    color: white;
    margin-left: 10%;
}