/* team */

.team{
    background-color: #3F72AF;
}

.container-team-card{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   justify-content: center;  
}
.team-xts1{
    padding-right: 1%;
}
.team-xts2{
    padding-right: 1%;
}
.team-xts3{
    padding-right: 1%;
}
.team-xts4{
    padding-right: 1%;
}

.team-header{
    margin: 0;
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    font-size: 48px;
    padding-top: 32px;
    margin-bottom: 32px;
    color: #fff;
    
}
.team-under-img{
    border: 2px solid #dbe2ef;
        box-sizing: border-box;
        text-align: center;
        justify-content: center;
        font-size: 23px;
        margin-top: 5%;
        margin-bottom: 10%;
        padding-top: 5%;
        background-color: #DBE2EF;
        color: #112D4E;
        width: 250px;
}
.container-team img {
    width: 100%;
   
}

.team-under-img i{
    color: #112D4E;
    padding: 0;
}
.team-cme{
    font-size: 29px;
    font-weight: bolder;
}
.team-under-img p{
    font-size: 20px;
    font-weight: bolder;
}